<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">The document outlines an assignment for ITE5315, focusing on Express, Form, and Template Engines. Students create a Node/Express app with Handlebars templates, redesign Assignment2 using Handlebars, and explore various aspects of web development, including layout design, route handling, custom helpers, and deployment to Vercel</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
               <li><a href="/">Home</a></li>
             <li><a href="/searchByindex">Search By index</a></li>
              <li> <a href="/search/invoiceID">Search By invoice</a></li>
              <li>  <a href="/search/produceLine/">Search By produceLine</a></li>
              <li>   <a href="/viewData">View all data</a></li>
               <li>   <a href="/viewName">Filter Zero</a></li>
                <li>   <a href="/allData">Load Json Data</a></li>
              
            </ul>
          </div>

          {{!-- <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div> --}}
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="mailto:george97dj@gmail.com">george97dj@gmail.com</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
             
            </ul>
          </div>
        </div>
      </div>
</body>
</html>
      
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: _George devid john______ Student ID: _no1547325_______ Date: __November 3_________
*
*
******************************************************************************
**/  --}}