<!doctype html>
<html>
<head>
    <title>View Data</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body><!-- Top Menu -->
<div class="header">
  <a href="/" class="logo">ITE5315 ASSIGNMENT 4</a>
  <div class="header-right">
    <a class="logo">GEORGE DEVID JOHN / N01547325</a>
  </div>
</div>
    <main>
       {{{body}}}
    </main><!-- footer -->
</body>
      <!-- Site footer -->
      <footer class="site-footer">
    {{>footer}}
    </footer>
</html>
{{!-- /******************************************************************************
***
* ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: _George devid john______ Student ID: _no1547325_______ Date: __November 3_________
*
* 
******************************************************************************
**/  --}}